.main-title {
  margin: 0;

  color: #000000;

  font-family: var(--font-family), sans-serif;
  font-size: 22px;
  font-weight: var(--font-weight-semibold);
  line-height: 130%;
  letter-spacing: -0.02em;
  text-align: left;
}
