.sub-title {
  margin: 0;

  color: rgba(0, 0, 0, 0.5);

  font-family: var(--font-family), sans-serif;
  font-size: 15px;
  font-weight: var(--font-weight-medium);
  line-height: 110%;
  letter-spacing: 0;
}
