.home__container {
  position: relative;

  display: flex;

  flex-direction: column;

  height: 100%;

  padding: 50px 20px 100px;

  gap: 30px;

  overflow: hidden;
}

.home__title {
  font-size: 25px;

  padding-left: 5px;

  font-weight: var(--font-weight-semibold);

  overflow: hidden;

  will-change: opacity, max-height;
}

.home__avatar__container {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  will-change: transform;
}

.home__avatar {
  max-height: 400px;

  min-height: 300px;

  object-fit: contain;

  will-change: height;
}
