/* font.css
 * 폰트 관련 스타일을 정의하는 CSS 파일입니다.
 * 폰트를 불러옵니다
 * 전체적으로 사용할 폰트 패밀리, 크기, 색상 등을 설정할 수 있습니다.
 * 필요에 따라 제목, 본문, 버튼 등 다양한 요소에 대한 폰트 스타일을 추가할 수 있습니다.
*/

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/font/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/font/SF-Pro.woff2') format('woff2');
}

:root {
  --font-family: 'Pretendard';
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}
