.back-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.back-button__icon {
  display: block;

  width: 10px;
  height: auto;
}
