.reflection__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 20px 130px;
  gap: 20px;
  overflow-y: scroll;
}

.reflection__container::-webkit-scrollbar {
  display: none;
}

.reflection__title {
  font-size: 25px;
  font-weight: var(--font-weight-semibold);
}

.reflection__battlepass {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 30px;
  gap: 25px;
}

.reflection__battlepass__title {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
}

.reflection__battlepass__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reflection__battlepass__content__boxes {
  display: flex;
  height: 95px;
}

.reflection__battlepass__content__boxes__box {
  position: relative;

  width: 110px;
  height: 96px;

  overflow: hidden;
  animation: vibration 0.6s infinite;
}
@keyframes vibration {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.reflection__battlepass__content__boxes__box::after {
  content: '';

  position: absolute;
  top: -50%;
  left: -100%;

  width: 40%;
  height: 200%;

  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 100%
  );

  transform: rotate(40deg);

  animation: gift-shimmer 2.5s ease-in-out infinite;

  pointer-events: none;
}

@keyframes gift-shimmer {
  0% {
    left: -100%;
  }

  60% {
    left: 150%;
  }

  100% {
    left: 150%;
  }
}

.reflection__battlepass__content__text {
  margin-top: 15px;
  display: flex;
}

.reflection__battlepass__content__text--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
}

.reflection__battlepass__content__text--title {
  font-size: 15px;
}

.reflection__battlepass__content__text--point {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.reflection__calendar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 30px;

  gap: 30px;
}

.reflection__calendar__title {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
  color: rgba(0, 0, 0, 0.8);
}

.reflection__calendar__title--highlight {
  color: #00abff;
}

.reflection__calendar__calendar {
  width: 100%;
}

.reflection__calendar__calendar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.reflection__calendar__calendar__month {
  font-size: 17px;
  width: 50px;
  text-align: center;
}

.reflection__calendar__calendar__arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;

  background: none;
  color: rgba(0, 0, 0, 0.18);

  font-size: 11px;
  cursor: pointer;
}

.reflection__calendar__calendar__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  margin-bottom: 30px;

  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.2);
}

.reflection__calendar__calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.reflection__calendar__calendar__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
