.bottom-sheet {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.05);

  z-index: 20;

  transition: transform 0.35s ease;
}

.bottom-sheet.dragging {
  transition: none;
}

.bottom-sheet__drag-area {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30px;

  cursor: grab;
  touch-action: none;
}

.bottom-sheet__drag-area:active {
  cursor: grabbing;
}

.bottom-sheet__handle {
  width: 50px;
  height: 5px;

  border-radius: 100px;

  background-color: rgba(0, 0, 0, 0.1);
}

.bottomSheet__header {
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
}

.bottomSheet__header__text--title {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
}

.bottomSheet__header__text--description {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.bottomSheet__header__icons {
  display: flex;
  gap: 8px;
}

.catalog__content {
  padding: 30px 21px;
}

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  width: 100%;
}

.catalog__item {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__item.locked {
  cursor: default;
}

.catalog__item.locked .catalog__item__image {
  opacity: 0.5;
}

.catalog__item__image {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.catalog__item__equipped {
  position: absolute;
  bottom: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}
